django==5.0.6
asgiref==3.8.1
sqlparse==0.5.0
tzdata==2024.1
psycopg2==2.9.9
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-password-strength==1.2.1
django-image-cropping==1.7
easy-thumbnails==2.8.5
celery==5.4.0