{% block content %}

<style>
    .image-post {
        width: auto;
        height: 400px
    }

</style>
<h1>{{ user.username }}</h1>
<ul>
    <div>
        {% if user_posts.txt_content != None %}
            {{user_posts.txt_content}}
        {% else %}
        {% endif %}
        {% if user_posts.image %}
        <div><img class='image-post' src="{{ user_posts.image.url }}"></div>
        {% endif %}
    </div>
</ul>
<h1>Comments</h1>
        
    
    {% for message in messages %}
    <div>
        {{message.message_creator}}
        {{message.message_text}}
    </div>
    {%endfor %}

{% endblock content %}