{% include 'navbar.html '%}
{% block content %}

<style>
    .image-class {
    width: 200px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
}
</style>

{% if user.avatar %}
<div><img class="image-class" src="{{ user.profile_picture.url }}"></div>
{% endif %}

<h2>@{{ user.username }}</h2>
{% if user.username != logged_user.username %}
    {% if userRequestsConnections %}
        <div>
            <form a method="POST">
                {% csrf_token %}
                    <button name="buttonrequest" value="button">Cancel Connection Request</button>
            </form>
        </div>
        {% else %}
        <div>
            <form action="{% url 'requestConnection' user.username %}" method="POST">
                {% csrf_token %}
                    <button name="buttonrequest" value="button1">Send Connection Request</button>
            </form>
        </div>
        {% endif %}
{% endif%}

{% if user.bio %}
<h2>{{ user.bio }}</h2>
{% endif %}

<h3>{{ user.gender}}</h3>

{% if user.username == logged_user.username %}
<h3>Birthday -- {{ user.birthday }}</h3>


<h2><a href="{% url 'profile-edit'%}">Edit your profile</a></h2>
{% endif %}

<h3>{{ user_age }} Years old</h3>

{% if user.username == logged_user.username %}
    <h1>CONNECTIONS REQUESTS</h1>
    {% if getRequestConnections != None %}
        {% for request in getRequestConnections %}
        <div>
            <p>@{{request.sender.username}} send you a connection request. Do you want to accept?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="buttonrequest" value="accept">Yes, I do.</button>
                <button type="submit" name="buttonrequest" value="decline">No, I don't.</button>
            </form>
        </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% endblock content %}