{% extends 'main.html' %}

{% block content %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div>
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        
        <div>
            {{ form.bio.label_tag }}
            {{ form.bio }}
            {{ form.bio.errors }}
        </div>

        <div>
            {{ form.profile_picture.label_tag }}
            {{ form.profile_picture }}
            {{ form.profile_picture.errors }}
        </div>
        <input type="submit" value="Register" />
    </form>
</div>



{% endblock content %}